.projectsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectsPic {
    height: 250px;
    width: 350px;
}

.mainRow {
    justify-content: center;
}

.contain {
    position: relative;
    text-align: center;
    color: white;
    justify-content: center;
    cursor: pointer;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered {
      display: none;
  }

  .contain:hover .centered {
      display: block;
      background-color: white;
      color: black;
  }